<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coda+Caption:800" >
	<link rel="stylesheet" href="{% static 'game/css/normalize.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'game/css/menu.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'game/css/animate.css' %}" type="text/css">
    <meta charset="utf-8">
</head>
<header>
		<div class="tops">
			<h3>Top 5 dungeoneers:</h3>
			{% for score in tops %}
				<p>{{score.user.first_name}} : <span>{{score.score}}</span></p>
			{% endfor %}
		</div>
		<div class="user-info">
			<p>You are logged in as {{ logged_as }}</p>
			<a href="{% url 'user_logout' %}">Log out</a>
		</div>
</header>
<body>
	<div class="menu bounceInDown animated">
		<a class="startGame bounceInLeft animated" href="{% url 'game_start' %}" >Start game!</a>
		<div class="Highscores bounceInRight animated">
			{% if high_score %}
			<div>Your highest score is {{ high_score }}</div>
			{% else %}
			<div>You haven't play a game</div>
			{% endif %}
		</div>
	</div>
<embed src="{% static 'game/audio/Intro.wav' %}" >
</body>
<script src="{% static 'game/js/resize_page.js '%}"></script>
</html>