<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'game/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/start.css' %}">
    <meta charset="utf-8">
</head>
<header>
    <div class="NameGame">Re2ry Dungeon</div>
</header>
<body>
    <div class="game_window">
        <div class="control">
            <input type="button" class="turn_button" value="Take your turn" onclick="NextTurn()">
            <input type="button" class="at_enemy_button" value="Atack enemy" onclick="AttackEnemy()">
        </div>
        <div class="output">
            <div class="container_name">
                <p class="outname"><div class="sub_name">{{ name }}</div></p>
            </div>
            <div class="container_hp">
                <p class="outhp"><div class="sub_hp"></div></p>
            </div>
            <div class="container_at">
                <p class="outat"><div class="sub_outat"></div></p>
            </div>
        </div>
        <div class="output_enemy">
            <div class="container_name_en">
                <p class="outname_en"><p class="sub_name_en"></p></p>
            </div>
            <div class="container_name_en">
                <p class="outhp_en"><p class="sub_hp_en"></p></p>
            </div>
            <div class="container_name_en">
                <p class="outat_en"><p class="sub_at_en"></p></p>
            </div>
        </div>
        <div class="status_bar"></div>
        <div class="imageStatus"></div>
        <div class="item-taker">
            <div class="button-accept">
                Accept Item
            </div>
            <div class="button-decline">
                Decline Item
            </div>
        </div>
        <div class="turns_taken"></div>
        <div class="inventory">
            <input type="button" class="heal_potion_button" value="I am heaaal!!" onclick="HealPotionUse()">
            <p>Amount of your current heal potions</p>
            <div class="heal_counter"></div>
            <div class="artifacts">
                    <div class="arifact">
                        <img src="" alt="">
                        <div class="desc">
                            <div class="stats"></div>
                            <div class="name"></div>
                            <div class="idesc"></div>
                        </div>
                    </div>
                    <div class="arifact">
                        <img src="" alt="">
                        <div class="desc">
                            <div class="stats"></div>
                            <div class="name"></div>
                            <div class="idesc"></div>
                        </div>
                    </div>
                    <div class="arifact">
                        <img src="" alt="">
                        <div class="desc">
                            <div class="stats"></div>
                            <div class="name"></div>
                            <div class="idesc"></div>
                        </div>
                    </div>
                    <div class="arifact">
                        <img src="" alt="">
                        <div class="desc">
                            <div class="stats"></div>
                            <div class="name"></div>
                            <div class="idesc"></div>
                        </div>
                    </div>
                    <div class="arifact">
                        <img src="" alt="">
                        <div class="desc">
                            <div class="stats"></div>
                            <div class="name"></div>
                            <div class="idesc"></div>
                        </div>
                    </div>
                </div>
        </div> 
        <p class="LeftToDead">Turns Left to your death:</p>
        <div class="Hunger"></div>    
    </div>
</body>
<footer>
	<div class="wrapper">
		<div class="endGame">You have lost!</div>
		<div class="deathReason"></div>
		<div class="endScore"></div>
	</div>
	<input type="button" class="Restart" value="Restart the game!" onclick="document.location.reload(true);">
	<a href="{% url 'game_menu' %}" class="exitToMenu">Return to menu</a>
    <div class="hidden">
    </div>
</footer>
<script src="{% static 'game/js/game.js '%}"></script>
</html>