{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'users/css/style.css' %}" rel="stylesheet">
	<link rel="icon" type="image/ico" href="{% static 'users/images/favicon.ico' %}" />
	  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </head>
  <body>

    <div class="container-fluid">
	
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="page-header">
					<h1>
						<img  class="img-responsive center-block" src="{% static 'users/images/logo.png' %}" width="400"></img>
					<p class="text-center"><small>Example project</small></p>
					</h1>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
		
		<div class="row">
		
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				{% block content %}{% endblock %}
			</div>
			<div class="col-md-4">
			</div>
				
		</div>
	</div>
  </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>