{% extends "users/base.html" %}
{% block title %} Login {% endblock %}
{% load staticfiles %}

{% block content %}

	<br/><h3>Sign in:</h3><br/>

	<form role="form" method="post">
	{% csrf_token %} 
	
		<div class="form-group">
			<label for="id_login">
				Email for login:
			</label>
			<input class="form-control" id="id_login" name="username" type="email">
		</div>
		
		<div class="form-group">
			<label for="id_password">
				Password:
			</label>
			<input class="form-control" id="id_password" name="password" type="password" autocomplete="off">
		</div>
				
		<br/>		
		
		<div class="row">
			<div class="col-md-6">
				<button type="submit" class="btn btn-primary valid_auth_forms" >
					Enter
				</button>
			</div>
			<div class="col-md-6">
				<a class="btn btn-info pull-right" href="{% url 'user_register' %}">
					Register new user
				</a>
			</div>
		</div>
		<div class="error_display">
		</div>
		{% if error %}
			{% for err in error %}
      			<p>{{ err }}</p>
			{% endfor %}
		{% endif %}
	</form>
				
{% endblock %}