{% extends "users/base.html" %}
{% block title %} Login {% endblock %}
{% load staticfiles %}

{% block content %}

	<h3>Register new user:</h3><br/>

	<form role="form" method="post">
	{% csrf_token %}
		<div class="form-group">
			<label for="id_login">
				Email for login:
			</label>
			<input class="form-control" id="id_login" name="username" type="email" max_length="50", min_length="6" required>
		</div>
		
		<div class="form-group">
			<label for="id_password">
				Password:
			</label>
			<input class="form-control" id="id_password" name="password" type="password" autocomplete="off"
				   max_length="50" min_length="6" required>
		</div>
				
		<div class="form-group">
			<label for="id_first_name">
				Your hero name:
			</label>
			<input class="form-control" id="id_first_name" name="first_name" type="text" max_length=50
				   value="Anonymus hero" required min_legnth="4">
		</div>

		<button type="submit" class="btn btn-primary valid_auth_forms">
			Register
		</button>
		{% if error %}
			{% for err in error %}
      			<p>{{ err }}</p>
			{% endfor %}
		{% endif %}
		<div class="error_display">
		</div>
	</form>
				
{% endblock %}