header {
	position: absolute;
	height: 50px;
	width: 100%;
	font-size: 14px;
	}
.tops {
	position: absolute;
	width: 320px;
	text-align: center;
	background-color: antiquewhite;
}
header a {
	text-decoration: none;
	color: black;
	margin: auto;
    display: block;
	text-align: center;
}
.user-info {
	background-color: antiquewhite;
	float: right;
}
.menu {
	width: 200px;
	height:200px;
	margin: auto;
	border-radius: 20px;
	border-width: 5px;
	border-color: black;
	z-index: 1;
	background-color: green;
	position: relative;
	display: flex;
	flex-direction: column;
	border-style: solid;
}
body {
	display: flex;
	background-image: url(../images/background-menu.png);
	font-family: 'Coda Caption', sans-serif;
}
.startGame, .Highscores {
	text-align: center;
	margin: auto;
	z-index: 3;
	text-decoration: none;
}
.startGame:visited {
	color: black;
	text-shadow: rgb(10,10,10);
}
.startGame:hover {
	color:red;
}
.ClrBtn {
	position: fixed;
	bottom: 0;
	width: 300px;
	height: 30px;
	margin: 20px;
	font-weight: 5px;
}
.ClrBtn:hover {
	background-color: red;
	color: black;
	border: none;
}
embed {
	visibility: hidden;
	width: 0;
	height: 0;
}