 p {
     margin: 0;
 }

 .output {
     width: 300px;
     display: inline-block;
     height: 130px;
 }

 .container_name>div, p, .container_hp>div, p, .container_at>div, p {
     display: inline-block;
     margin-left: 10px;
 }

 .container_name>div {
     color: blue;
 }

 .container_hp>div {
     color: green;
 }

 .container_at>div {
     color: red;
 }

 .turns_taken, .status_bar, .enemy_bar {
     text-align: center;
 }

 .output_enemy {
     width: 300px;
     float: right;
     display: inline-block;
 }

 .start_menu {
     position: absolute;
     visibility: hidden;
     display: flex;
     width: 400px;
     height: 400px;
 }

 header {
     display: flex;
     width: 100%;
     height: 50px;
     text-align: center;
     color: red;
     background-color: green;
     font-size: 20px;
 }

 .imageStatus {
     background-image: url('../images/Status_Start.jpg');
     height: 255px;
     width: 200px;
     margin: auto;
 }

 .StatusRest {
     background-image: url('../images/Status_Rest.png');
     height: 255px;
     width: 200px;
     margin: auto;
 }

 .StatusAttack {
     background-image: url('../images/Status_Attack.png');
     height: 255px;
     width: 200px;
     margin: auto;
 }

 .StatusFindP {
     background-image: url('../images/Status_FindP.jpg');
     height: 255px;
     width: 200px;
     margin: auto;
 }

 .StatusFindE {
     background-image: url('../images/Status_FindE.png');
     height: 255px;
     width: 200px;
     margin: auto;
 }

 .NameGame {
     display: block;
     width: 200px;
     margin: auto;
 }

 body {
     width: 100%;
     height: 100%;
 }

 footer {
     display: flex;
     position: fixed;
     z-index: 10;
     background-color: black;
     visibility: hidden;
     top: 0px;
 }

 .wrapper {
     margin: auto;
     color: black;
     opacity: initial;
     background-color: white;
     text-align: center;
     width: 250px;
     height: 250px;
 }

 .wrapper>div {
     height: 33%;
     margin-top: 10px;
 }

 .Restart {
     position: fixed;
     bottom: 0;
     margin: 10px;
     margin-bottom: 10px;
     font-weight: 20px;
 }

 .exitToMenu {
     position: fixed;
     display: block;
     bottom: 0;
     right: 0;
     margin: 10px;
     width: 200px;
     height: 40px;
     text-align: center;
     color: white;
     background-color: red;
     vertical-align: center;
     font-size: 30px;
     text-decoration: none;
 }

.arifacts {
    display: flex;
    width: 300px;
}
.arifact {
    width: 50px;
    height: 50px;
    background-color: gray;
 }
